
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    display: flex;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar */
.sidebar{
    background-color: #358888;
    color: #ffffff;
    width: 16%;
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.logo {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(194deg) brightness(101%) contrast(104%);
}

.sidebar-title{
    background: #fff;
    color: #358888;
    padding: 8px;
    border: none;
    border-radius:8px ;
    display: flex;
    align-items: center;
    gap: 8px;
}
.sidebar-title img{
    filter: brightness(0) saturate(100%) invert(47%) sepia(37%) saturate(558%) hue-rotate(131deg) brightness(92%) contrast(96%);
}
.sidebar-title:hover{
    transform: translateY(-2px);
}
.history{
    list-style: none;
    margin-bottom: auto;
    color: rgba(255, 255, 255, 0.7);
    line-height: 2.5;
}
.list{
    color: #ffffff;
    list-style: none;
    padding: 8px;
    font-size: 0.7rem;
}
.list:hover{
    background:#ffffff40;
    color: #fff;
    transform: translateY(3%);
    cursor: pointer;
}

.new-chat-btn {
    margin-top: auto;
    background: #fff;
    color: #358888;
    padding: 8px;
    border: none;
    border-radius: 8px;
  }
.new-chat-btn:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

/* Main content */
.content-main{
    width: 84%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.top-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#35888840;
    padding: 10px 20px;
    height: 40px;
}
.nav-left {
    display: flex;
    align-items: center;
    flex: 1;
}
.logo-nav {
    width: 100px;
}
.nav-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}
.nav-btn {
    background: rgba(53, 136, 136, 0.2);
    border: none;
    font-size: 13px;
    color: #358888;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}
.nav-btn-active {
    background-color: #358888;
    border: none;
    font-size: 13px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    padding: 5px 8px;
    border-radius: 5px;
}
.nav-btn-active img{
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(194deg) brightness(101%) contrast(104%);

}
.nav-btn img {
    width: 18px;
    height: 18px;
    transition: filter 0.2s;
    filter: brightness(0) saturate(100%) invert(47%) sepia(37%) saturate(558%) hue-rotate(131deg) brightness(92%) contrast(96%);    
}

.nav-btn:hover {
    color: #267d7d;
    background-color: rgba(53, 136, 136, 0.3);
    filter: brightness(0) saturate(100%) invert(39%) sepia(15%) saturate(897%) hue-rotate(131deg) brightness(93%) contrast(92%);
    cursor: pointer;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;

}
.nav-right img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(47%) sepia(37%) saturate(558%) hue-rotate(131deg) brightness(92%) contrast(96%);
}
.nav-right img:hover{
    transform: translateY(1px);
    cursor: pointer;
}
.menu{
    background: transparent;
    color: #358888;
    border: none;
}
.menu:hover{
    transform: translateY(1px);
    cursor: pointer;
}
/* welcome start*/
.welcome {
    text-align: center;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.main-logo {
    width: 90px;
    margin-bottom: 12px;
    align-self: center;
}
.welcome h1 {
    font-size: 2.5rem;
    color: #267d7d;
    margin-bottom: 10px;
}
.welcome-text{
    text-align: center;
    margin: 0 auto 30px;
}
.welcome p {
    font-size: 1rem;
    color: #444;
    max-width: 700px;
}
.welcome .highlight {
    font-weight: bold;
    color: #267d7d;
}
.welcome h2 {
    margin-top: 40px;
    font-size: 1.6rem;
    color: #267d7d;
    margin-bottom: 30px;
}
.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0 10px;
}
.app-card {
    padding: 14px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    width: 160px;
    flex: 1 1 160px;
    max-width: 180px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border: 2px solid #f0f2f5;
}
.app-card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}
.text-appcard h3 {
    font-size: 0.9rem;
    color: #267d7d;
    margin-bottom: 6px;
}
.text-appcard p {
    font-size: 0.6rem;
    color: #555;
} 
.app-card img {
    width: 32px;
    height: 32px;
}
.logo-appcard{
    object-fit: contain;
}
.logo-appcard-voice{
    filter: brightness(0) saturate(100%) invert(47%) sepia(37%) saturate(558%) hue-rotate(131deg) brightness(92%) contrast(96%);
}
/* welcome end */

/* setting start */
.setting{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-direction: row;
    gap: 10px;
}
.setting-box{
    box-sizing: border-box;
    border: 2px solid #f0f2f5;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin: 0;
    width: 100%;

}
.set-title-box{
    display: flex;
}
.set-title-box p{
    font-size: 0.8rem;
    box-sizing: border-box;
    border:none;
    border-radius: 6px;
    background:rgba(53, 136, 136, 0.2);
    color: #358888;
    display: flex;
    padding:12px; 
}
.st{
    gap: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button-setting{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.set-list-box {
    display: flex;
}
.set-list-box p{
    display: flex;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 12px;
    color: #358888;
    padding: 2px;
}
.btn-setting{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    gap: 8px;
}
.set-btn{
    box-sizing: border-box;
    border: 2px solid #358888;
    color: #358888;
    border-radius: 20px;
    padding: 8px 5px;
    width: 85%
}
.set-btn.active{
    box-sizing: border-box;
    border: 2px solid #358888;
    background: #358888;
    color: #ffffff;
    border-radius: 20px;
    padding: 8px 5px;
}
.set-act{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin-top: auto;
    border-top: 1px solid #e7e7e7;
    padding: 12px;
}
.act{
    box-sizing: border-box;
    border:  2px solid #358888;
    color: #358888;
    border-radius: 12px;
    display: flex;
    padding: 8px ;
    align-content: end;
}
.act-active{
    box-sizing: border-box;
    background: #358888;
    border:2px solid #358888;
    color: #ffffff;
    border-radius: 12px;
    display: flex;
    padding: 8px ;
}
/* setting end */
/* document start */
.document {
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 20px;
    padding: 22px;
    width: 100%;
}
.content-doc-a {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 8px;
    gap: 12px;
    width: 100%;
}
.doc-btn-top {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.btn-top-search{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    background: #ffffff;
    padding: 8px;
    color: rgb(166, 166, 166);
    font-size: 12px;
    width: 52%;
}
.btn-top-mini{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #358888;
    border-radius: 10px;
    background: #fff;
    padding: 8px;
    color: #358888;
    font-size: 12px;
    width: 30%;
    justify-content: center;
}
.doc-img {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #358888;
    background: white; 
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.doc-img img[alt="send"] {
    filter: invert(1); 
}
.doc-img:has(img[alt="send"]) {
    background-color: #358888; 
    border-color: #358888;
}
.doc-img img[alt="reload"] {
    filter: brightness(0) saturate(100%) invert(39%) sepia(15%) saturate(897%) hue-rotate(131deg) brightness(93%) contrast(92%);
}
.text-doc {
    display: flex;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 11px;
    justify-content: center;
    color: #000000; 
    font-weight: bold;
    background: #c0c6c640;
}
.doc-btn-bottom {
    display: flex;
    gap: 20px;
    height: 100px; 
    overflow-y: auto; 
    padding-right: 10px;
    scrollbar-width: thin;
    flex-grow: 1;
    min-height: 0;
    /* margin-top: auto; */
}

.bottom-doc-a {
    box-sizing: border-box;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.bottom-doc {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #358888;
    color: #358888;
    text-align: left;
    transition: all 0.2s;
    background: transparent;
    padding: 8px;
    border-radius: 7px;
    gap: 8px;
}
.bottom-doc img{
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(15%) saturate(897%) hue-rotate(131deg) brightness(93%) contrast(92%);
}
.doc-btn-bottom::-webkit-scrollbar {
    width: 8px;
} 
.doc-btn-bottom::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
} 
.doc-btn-bottom::-webkit-scrollbar-thumb {
    background: #358888;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.2); 
} 
.doc-btn-bottom::-webkit-scrollbar-thumb:hover {
    background: #2a6d6d; 
}
.content-doc-b {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}
.doc-top {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0; 
    margin-bottom: 12px; 
    justify-content: space-between;
}
.doc-top p {
    display: flex;
    font-size: 16px;
    padding: 5px 0px;
    width:100%
}
button.btn-doc-b {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #358888;
    border-radius: 8px;
    padding: 8px;
    background: transparent;
}
button.btn-doc-b.active{
    display: flex;
    box-sizing: border-box;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    background: #358888;
}
.box-doc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    flex-wrap: wrap;
}
.box-doc p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 5px 0px;
    margin: 0;
}
.txt-box-doc {
    flex: 1;
    resize: none;
    border: 1px solid #358888;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    color: #358888;
    background-color: #fefefe;
    min-height: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
/* document end */
/* overview start */
.overview{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 18px;
    flex-direction: row;
    gap: 10px;
}
.overview-box{
    box-sizing: border-box;
    border: 2px solid #f0f2f5;
    padding: 20px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
    margin: 0;
    width: 100%;
    height: 100%;
}
.btn-ovw-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0; 
    padding-bottom: 18px;
}
button.ovw-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(53, 136, 136, 0.2);
    border: none;
    color: #358888;
    font-size: 12px;
}
button.ovw-head.act {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #358888;
    color: #358888;
    font-size: 12px;
    font-style: italic;
}

.btn-ovw-center{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.ovw-center-up {
    display: flex;
    gap: 16px;
}
button.ovw-reset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: none;
    background: #358888;
    color: #ffffff;
    padding: 6px;
    font-size: 12px;
    border-radius: 6px;
}
.ovw-center-bottom{
    display: flex;
    gap: 16px;
}
.btn-ovw-list {
    height: 300px; 
    width: 100%; 
    overflow: hidden; 
    flex-grow: 1;
    min-height: 0;
    margin-top: auto;
}
  
.ovw-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%; 
    overflow-y: auto; 
    padding-right: 8px; 
    scrollbar-width: thin; 
    scrollbar-color: #358888 #f1f1f1;
}
.ovw-list::-webkit-scrollbar {
    width: 6px;   
}
.ovw-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
    margin: 4px 0;
}
.ovw-list::-webkit-scrollbar-thumb {
    background: #358888;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.2); 
}
.ovw-list::-webkit-scrollbar-thumb:hover {
    background: #2a6d6d; 
}
.ovw-list-scr {
    white-space: nowrap;
    padding: 8px 16px;
    border: 1px solid #358888;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 18px;
    background: transparent;
    color: #358888;
    font-size: 12px;
    transition: all 0.2s ease; 
}  
.ovw-list-scr:hover {
    background-color: #358888;
    color: white;
}
.ovw-list-scr.active {
    white-space: nowrap;
    padding: 8px 16px;
    border: 1px solid #358888;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 18px;
    background: #358888;
    color: #ffffff;
    font-size: 12px;
    transition: all 0.2s ease; 
}
/* overview end */