<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pondok Indah AI</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/setting.css">
</head>
<body>
    <div class="container">
        <!-- sidebar start -->
        <aside class="sidebar" id="sidebar">
            <div class="logo">
                <img src="../asset/img/global/layout-sidebar.svg" alt="layout-sidebar">
                <img src="../asset/img/global/gear-fill.svg" alt="setting">
            </div>
            <div class="sidebar-title"><img src="../asset/img/global/grid.svg" alt="grid">Fitur Apps</div>
            <ul class="history">
                <li>
                    <p>Today</p>
                    <ul class="list" id="today">
                        <li>History percakapan 1 </li>
                    </ul>
                </li>
                <li>
                   <p>Yesterday</p>
                   <ul class="list" id="yesterday">
                        <li>History percakapan 1 </li>
                    </ul>
                </li>
                <li>
                    <p>Previous 7 Days</p>
                    <ul class="list" id="7days">
                        <li>History percakapan 1 </li>
                    </ul>
                </li>
                <li>
                    <p>Previous 30 Days</p>
                    <ul class="list" id="30days">
                        <li>History percakapan 1 </li>
                    </ul>
                </li>
            </ul>
            <button class="new-chat-btn">+ Start new chat</button>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="content-main">
            <!-- navbar start -->
            <header class="top-nav">
                <div class="nav-left">
                    <img src="../asset/img/global/pondok-indah-logo.png" alt="logo" class="logo-nav">
                </div>
                <div class="nav-button">
                    <button class="nav-btn"><img src="../asset/img/global/chat.svg" alt="chat">Chat</button>
                    <button class="nav-btn"><img src="../asset/img/global/file-earmark-text.svg" alt="file">Documents</button>
                    <button class="nav-btn"><img src="../asset/img/global/broadcast.svg" alt="overview">Overview</button>
                    <button class="nav-btn"><img src="../asset/img/global/search.svg" alt="search">RAG</button>
                </div>
                <div class="nav-right">
                    <img src="../asset/img/global/bell.svg" alt="notifikasi">
                    <img src="../asset/img/global/moon-fill.svg" alt="mode">
                    <img src="../asset/img/global/person-circle.svg" alt="">
                    <button class="menu"> Menu </button>
                </div>
            </header>
            <!-- navbar end -->
            <!-- section start -->
            <div class="setting">
                <div class="setting-box">
                    <div class="set-title-box">
                        <p>MKChat Settings</p>
                    </div>
                    <div class="button-setting">
                        <div class="set-list-box">
                            <p>Model :</p>
                        </div>
                        <div class="btn-setting">
                            <button class="set-btn active">llama3.2-vision</button>
                            <button class="set-btn">gpt-40-mini</button>
                            <button class="set-btn">DeepSeek-R1</button>
                        </div>
                    </div>
                    <div class="set-act">
                        <hr>
                        <button class="act-active">Save</button>
                        <button class="act">Cancel</button>
                    </div>
                </div>
                <div class="setting-box">
                    <div class="set-title-box">
                        <p>MKSearch Settings</p>
                    </div>
                    <div class="st">
                        <div class="button-setting">
                            <div class="set-list-box">
                                <p>Engine :</p>
                            </div>
                            <div class="btn-setting">
                                <button class="set-btn active">Google</button>
                                <button class="set-btn">Bing</button>
                                <button class="set-btn">Strict</button>
                            </div>
                        </div>
                        <div class="button-setting">
                            <div class="set-list-box">
                                <p>Model :</p>
                            </div>
                            <div class="btn-setting">
                                <button class="set-btn active">llama3.2-vision</button>
                                <button class="set-btn">gpt-40-mini</button>
                                <button class="set-btn">DeepSeek-R1</button>
                            </div>
                        </div>
                    </div>
                    <div class="set-act">
                        <hr>
                        <button class="act-active">Save</button>
                        <button class="act">Cancel</button>
                    </div>
                </div>
                <div class="setting-box">
                    <div class="set-title-box">
                        <p>SummaryAI Settings</p>
                    </div>
                    <div class="st">
                        <div class="button-setting">
                            <div class="set-list-box">
                                <p>Engine :</p>
                            </div>
                            <div class="btn-setting">
                                <button class="set-btn">Soft</button>
                                <button class="set-btn active">Medium</button>
                                <button class="set-btn">Strict</button>
                            </div>
                        </div>
                        <div class="button-setting">
                            <div class="set-list-box">
                                <p>Model :</p>
                            </div>
                            <div class="btn-setting">
                                <button class="set-btn active">llama3.2-vision</button>
                                <button class="set-btn">gpt-40-mini</button>
                                <button class="set-btn">DeepSeek-R1</button>
                            </div>
                        </div>
                    </div>
                    <div class="set-act">
                        <div class="line">
                            <hr>
                        </div>
                        <button class="act-active">Save</button>
                        <button class="act">Cancel</button>
                    </div>
                </div>
            </div>
            <!-- section end -->
        </main>
        <!-- main content end -->
    </div>
</body>
</html>